.azeret-mono-style {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
}

.mainhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 20px 20px;
}

.mainhead>a {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.btn1 {
    padding: 10px 20px 10px 20px;
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
}

.btn-2 {
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
}

.hero-section {

    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 57px;
    padding-bottom: 45px;
}


.sec-1-content {

    height: 551px;
    margin-left: 221px;
    margin-right: 221px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32;
    padding: 0px;
}

h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.sec2 {

    margin-top: 100px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px 100px 80px 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);


}

.sec2main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec2firstcontainer {

    position: static;
    width: 70%;
    height: 236px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    gap: 90;
    padding: 48px;


}

.container-p {
    text-align: start;
}

.sec2secondcontainer {
    position: static;
    width: 70%;
    height: 236px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    gap: 32;
    padding: 48px;

}

.secondcontainer-img {
    margin-right: 50px;
}

.sec2thirdcontainer {
    position: static;
    width: 70%;
    height: 236px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    gap: 32;
    padding: 48px;

}