.azeret-mono-style {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
}

.mainhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 20px 20px;
}

.mainhead>a {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.btn1 {
    padding: 10px 20px 10px 20px;
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
}

.btn-2 {
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
}

a {
    text-decoration: none;

}

.hero-section {

    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 57px;
    padding-bottom: 45px;
}


.sec-1-content {

    height: 551px;
    margin-left: 221px;
    margin-right: 221px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32;
    padding: 0px;
}

h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.sec2 {

    margin-top: 100px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px 100px 80px 100px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);


}

.sec2main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec2firstcontainer {

    position: static;
    width: 70%;
    height: 236px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    gap: 90;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);

}

.container-p {
    text-align: start;
}

.sec2secondcontainer {
    position: static;
    width: 70%;
    height: 236px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    gap: 32;
    padding: 48px;

}

.secondcontainer-img {
    margin-right: 50px;
}

.sec2thirdcontainer {
    position: static;
    width: 70%;
    height: 236px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    gap: 32;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);

}

.insp-container {

    width: 85%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* .iframe_container {
    width: 80%;
    border: 10px;
    border-color: gray;
    padding: 10px 10px 10px 10px;
} */

.iframe {
    width: 80%;
    margin-top: 50px;
    padding: 10px;
    border: 10px;
    border-color: gray;
    border-radius: 26px;
}

.mycurrenttarget {
    width: 75%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box_container {

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    gap: 30px;

}

.box-1 {
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);

}

.box-2 {
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);

}

.box-3 {
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);

}

.mynext_target {
    width: 75%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.react-container {
    display: flex;
    justify-content: start;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 40px;
    border: 1px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    gap: 50px;
}

.react_image {
    width: 24%;
}

.node-container {
    display: flex;
    justify-content: start;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 40px;
    border: 1px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    gap: 50px;
}

.mongo-container {
    display: flex;
    justify-content: start;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 40px;
    border: 1px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    gap: 50px;
}

.support_section {
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 313px;
    margin: 50px auto 50px auto;
    padding: 65px 50px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-blend-mode: overlay;
    background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), url(Email);
}

.ss-heading {
    color: white;
}

#form_input {
    width: 500px;
    padding: 15px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

#form_submit {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}